TFM/
token_TFM.txt

__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/
ENV/
bin/
lib/

dist/
build/
*.egg-info/
nosetests.xml
coverage.xml
*.cover
*.log

.ipynb_checkpoints

.env
.flaskenv

.vscode/
.idea/

.DS_Store
**/.DS_Store